


<!-- <p>
Total: <%= Post.all.count %>
</p> -->


<div class="banner">

<%= image_tag 'bg02.jpg', :class => 'banner-img' %>

</div>


<p>Applicable Products: <%= @posts.select{|post| post.category.name}.count%></p>


<div class="row">
  <% @posts.each do |post| %>
  <div class="post-me col-md-3 col-sm-6 col-12">


  <% if post.image.attached? %>
    <p>
      <br>
      <%= image_tag post.image, :class => 'img' %>
    </p>
  <% end %>


    <p>Category: <%= post.category.name %></p>
    <p>Title: <%= post.title %></p>
    <p><%= link_to "Product Page", post.body %></p>
    <p><%= link_to 'Show', post %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
  <% end %>
</div>
<br>

<p id="notice"><%= notice %></p>

<p class="to_right">Posts | <%= link_to "New Category", new_category_path %> | <%= link_to "Edit/Delete Category", categories_path %></p>
<hr>
<p class="to_right"><%= link_to 'New Post', new_post_path %></p>
