
<div class="banner">

<%= image_tag 'bg02.jpg', :class => 'banner-img' %>

</div>






<div class="row">

  <% @categories.each do |category| %>

  <div class="category col-md-4 col-sm-12">
    <h6><%= category.name %></h6>
    <p><%= category.description %></p>
  <%= link_to 'posts?category=' + category.name do %>
  <%= image_tag (category.image), width: "100%" if category.image.attached? %>
  <% end %>



    <p class="small">
      <%= link_to 'Edit', edit_category_path(category) %> |
      <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
  <% end %>
</div>

<br>
<p id="notice"><%= notice %></p>
<%= link_to 'New Category', new_category_path %>
